# Git & IDEs
.git
.gitignore
.vscode
.idea
*.suo
*.user

# Build artifacts
**/bin/
**/obj/
**/dist/
**/node_modules/
**/build/
**/coverage/
.angular/

# Logs & Temporary Files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Secrets & Local Configurations
.env
.env.local
.env.*.local
*.pem
*.key
*.pfx
devops/kubernetes/secret-live.yaml
secrets/
